.vscode
release

*.Release
*.Debug
.qmake.stash

#installer
*.msi
*.wixobj
*.wixpdb

# create your own using qmake
Makefile
*.rc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app